<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="container">
      <div class="row">
        <%= link_to root_path do %>
          <img src="https://s3-us-west-2.amazonaws.com/velocitylaboratories/VelocityLogo.png">
        <% end %>

        <div class="nav pull-right">
          <ul class="nav nav-pills">
            <li class="active">
              <%= link_to "Home", :root %>
            </li>
            <li>
              <%= link_to "All Scans", scans_path %>
            </li>
            <li><a href="#">Logged in as: User</a></li>
            <li><a href="#">Log out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<%= yield %>

</body>
</html>
